.doctor-detai-container{
    height: 500px;
    .intro-doctor{
        margin: 0 300px;
        display: flex;
        .content-left{
            width: 15%;
            background: center center no-repeat;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 10px 20px;
        }
        .content-right{
            width: 85%;
            flex-direction: column;
            padding-left: 10px;
            .up{
                font-size: 22px;
                font-weight: 700;
                padding-top: 15px;
            }
            .down{
                padding-top: 5px;
            }
        }
    }
    .detail-infor-doctor{
        padding: 10px 300px;
        background-color: #f9f9f9;
        border-top: 1px solid #ddd;
        border-bottom:1px solid #ddd;
        h3{
            font-size: 17px;
        }
        img{
            width: 100%;
        }
    }
}